<!DOCTYPE html>
<html lang="en">
<head th:insert="fragments/head.html :: head">
</head>

<body>
<div style="text-align: left !important;" class="container-fluid white">
    <div class="row">
        <div class="col create-recipe">
            <h2>Neues Rezept Hinzufügen:</h2>
            <form class="row g-3" action="#" th:action="@{/addRecipe}" th:object="${recipe}" method="POST">
                <div class="col-md-6">
                    <label for="name" class="form-label">Name</label>
                    <input name="name" type="text" class="form-control" id="name" th:field="*{name}" required>
                </div>
                <div class="col-md-3">
                    <label for="tags" class="form-label">Tags (mit , getrennt)</label>
                    <input name="tags" type="text" class="form-control" id="tags"  aria-describedby="inputGroupPrepend2">
                </div>
                <div class="col-md-3">
                    <label for="portions" class="form-label">Portionen</label>
                    <input name="portions" type="text" class="form-control" id="portions"  aria-describedby="inputGroupPrepend2" required>
                </div>
                <div class="col-md-12">
                    <label for="recipeLink" class="form-label">Link zu Rezept</label>
                    <input name="link" type="text" class="form-control" id="recipeLink">
                </div>
                <div class="col-md-12">
                    <label for="imgLink" class="form-label">Bildlink</label>
                    <input name="imglink" type="text" class="form-control" id="imgLink">
                </div>
                <div class="col-md-12">
                    <label for="instructions" class="form-label">Anleitung</label>
                    <textarea name="description" style="height: 108px;" type="text" class="form-control" id="instructions" required></textarea>
                </div>
                <div class="col-12">
                    <div class="form-check">
                        <input style="display:none" name="linkonly" value="false">
                        <input class="form-check-input" name="linkonly" id="linkonly" type="checkbox" value="true">
                        <label class="form-check-label" for="linkonly" data-toggle="tooltip" data-placement="right" title="Es wird nur ein Link zum Rezept hinzugefügt, ohne Beschreibung und Zutaten.">
                            Rezept nur verlinken?
                        </label>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-recipe" type="submit">Nächster Schritt</button>
                </div>

            </form>
        </div>
    </div>
</div>

</body>
<div th:replace="fragments/footer.html :: footer"></div>
</html>