<!DOCTYPE html>
<html lang="en">
<head th:insert="fragments/head.html :: head">
</head>

<body>
<nav th:replace="fragments/navbar.html :: navbar"></nav>
<div style="text-align: left !important;" class="container-fluid white">
  <div class="row">
    <div class="col create-recipe">
      <h2>Edit recipe:</h2>
      <form class="row g-3" action="#" th:action="@{/editRecipe}" th:object="${recipe}" method="POST">
        <input name="id" type="text" style="display: none" th:field="*{id}" th:value="${recipe.getId()}">
        <div class="col-md-6">
          <label for="name" class="form-label">Name</label>
          <input name="name" type="text" class="form-control" id="name" th:field="*{name}" th:value="${recipe.getName()}" required>
        </div>
        <div class="col-md-3">
          <label for="string-tags" class="form-label">Tags (seperated by ,)</label>
          <input name="string-tags" type="text" class="form-control" id="string-tags"  aria-describedby="inputGroupPrepend2" th:value="${recipe.getTagsString()}">
        </div>
        <div class="col-md-3">
          <label for="portions" class="form-label">Portions</label>
          <input name="portions" type="text" class="form-control" id="portions" aria-describedby="inputGroupPrepend2" th:field="*{servings}" th:value="${recipe.getServings()}" required>
        </div>
        <div class="col-md-12">
          <label for="recipeLink" class="form-label">Link to Recipe</label>
          <input name="link" type="text" class="form-control" id="recipeLink">
        </div>
        <div class="col-md-12">
          <label for="imgLink" class="form-label">Link to Image</label>
          <input name="imglink" type="text" class="form-control" id="imgLink" th:field="*{imageLink}" th:value="${recipe.getImageLink()}">
        </div>
        <div class="col-md-12">
          <label for="instructions" class="form-label">Instructions</label>
          <textarea name="description" style="height: 108px;" type="text" class="form-control" id="instructions" th:field="*{instruction}" th:value="${recipe.getInstruction()}"></textarea>
        </div>
        <div class="col-12">
          <button class="btn btn-recipe" type="submit">Save Recipe</button><a class="btn btn-delete" th:href="'/deleteRecipe/'+${recipe.id}">Delete Recipe</a>
        </div>
      </form>
    </div>
  </div>
</div>

</body>
<div th:replace="fragments/footer.html :: footer"></div>
</html>