<!DOCTYPE html>
<html lang="en">
<head th:insert="fragments/head.html :: head">
</head>

<body>
<nav th:replace="fragments/navbar.html :: navbar"></nav>
<div style="text-align: left !important;" class="container-fluid white">

  <div class="row">
    <div class="col create-recipe">
      <h2>Edit ingredients for <span th:text="${recipe.getName()}"></span>:</h2><a style="margin-left: 0px;margin-bottom: 40px;margin-top:40px;"class="btn btn-delete" th:href="'/recipe/' + ${recipe.getId()}">Bearbeitung abschließen</a>
      <form class="row g-3" th:each="ingredient : ${ingredients}">
        <div class="col-md-2">
          <label class="form-label">Menge</label>
          <input type="text" class="form-control" th:value="${ingredient.getAmount()}" required disabled>
        </div>
        <div class="col-md-3">
          <label class="form-label">Einheit</label>
          <select class="form-select" disabled>
            <option th:text="${ingredient.getUnit().getName()}"></option>
          </select></div>
        <div class="col-md-5">
          <label class="form-label">Zutat</label>
          <input type="text" class="form-control" th:value="${ingredient.getIngredient().getName()}" required disabled>
        </div>
        <div class="col-2">
          <label style="height:18px"class="form-label"></label>
          <a style="margin-left: 0px;"class="btn btn-delete w-100" th:href="'/deleteIngredient/' + ${ingredient.getId()}">Löschen</a>
        </div>
      </form>
      <form class="row g-3" id="addIngredient">
        <input id="recipe" type="text" style="display: none" th:value="${recipe.getId()}">
        <div class="col-md-2">
          <label class="form-label">Menge</label>
          <input id="amount" name="amount" type="text" class="form-control" required>
        </div>
        <div class="col-md-3">
          <label class="form-label">Einheit</label>
          <select id="unit" name="unit" class="form-select">
            <option disabled selected>Wählen...</option>
            <option th:each="unit : ${units}" th:text="${unit.getName()}">Wählen...</option>
          </select></div>
        <div class="col-md-5">
          <label class="form-label">Zutat</label>
          <input name="ingredient" id="ingredient"type="text" class="form-control" required>
        </div>
        <div class="col-2">
          <label style="height:18px"class="form-label"></label>
          <button id="btn-submit" class="btn btn-recipe w-100" type="submit">Hinzufügen</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $("#addIngredient").on("submit", addRow());
    function addRow(){
      $("#addIngredient").on("submit", function(event) {
        event.preventDefault();
        var formData = {
          amount: $("#amount").val(),
          unit: $("#unit").val(),
          ingredient: $("#ingredient").val(),
          recipe: $("#recipe").val()
        };
        $.ajax({
          method: 'POST',
          url: '/addIngredient',
          data: formData,
        }).done(function (data) {
          console.log(data);
          var $fields = $('#addIngredient').clone();
          $('.btn-recipe').hide();
          $('#amount').prop('disabled', true);
          $('#amount').removeAttr('id');
          $('#recipe').prop('disabled', true);
          $('#recipe').removeAttr('id');
          $('#ingredient').prop('disabled', true);
          $('#ingredient').removeAttr('id');
          $('#unit').prop('disabled', true);
          $('#unit').removeAttr('id');
          $('#addIngredient').removeAttr('id');

          $fields.appendTo('.create-recipe');
          $("#addIngredient").on("submit", addRow());
        });
      });
    }
  });
</script>

</body>
<div th:replace="fragments/footer.html :: footer"></div>
</html>