<!DOCTYPE html>
<html lang="en">
<head th:insert="fragments/head.html :: head"></head>

<body>
<nav th:replace="fragments/navbar.html :: navbar"></nav>
<div class="container-fluid white">
    <div class="row">
        <div class="col hero">
            <h2>Find Recipes Now!</h2>
            <p>Search directly for your favorite recipe:</p>
            <div style="padding-top: 30px;" class="row gx-5">
                <div class="col">
                    <p>What recipe are you looking for?</p>
                    <form class="d-flex" action="/search" method="GET">
                        <input name="name" class="form-control me-2" type="search" placeholder="e.g., Spaghetti Carbonara" aria-label="Search">
                        <button class="btn btn-recipe" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<div th:replace="fragments/footer.html :: footer"></div>
</html>
