<!DOCTYPE html>
<html lang="en">
<head th:insert="fragments/head.html :: head">
</head>

<body>
<nav th:replace="fragments/navbar.html :: navbar"></nav>
<div class="container-fluid white">
    <div class="row">
        <div class="col hero" style="padding: 100px 20px">
            <h2>Welcome to MealMaster!</h2>
            <p class="introduction-text">MealMaster is a user-friendly meal planning tool that helps you create meal plans for any number of days. With MealMaster, you can store your favorite recipes, each with a name, cooking instructions, a rating, and links to the original recipe and images of the dish.</p>
            <p class="introduction-text">The database is not yet set up. Please click the button below to generate some data.</p>
            <a class="btn btn-setup" href="/generateData">Generate Data</a>
        </div>
    </div>
</div>
</div>

</body>
<div th:replace="fragments/footer.html :: footer"></div>
</html>