<!DOCTYPE html>
<html lang="en">
<head th:insert="fragments/head.html :: head">
</head>

<body>
<nav th:replace="fragments/navbar.html :: navbar"></nav>
<div class="container-fluid white">
    <div class="row">
        <div class="col hero" style="padding: 100px 20px">
            <h2>Welcome to MealMaster!</h2>
            <p class="introduction-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est </p>
            <p class="introduction-text">The database is not yet set up. Please click the button below to generate some data.</p>
            <a class="btn btn-setup" href="/generateData">Generate Data</a>
        </div>
    </div>
</div>
</div>

</body>
<div th:replace="fragments/footer.html :: footer"></div>
</html>