<!DOCTYPE html>
<html lang="en">
<head th:insert="fragments/head.html :: head">
</head>

<body>
<nav th:replace="fragments/navbar.html :: navbar"></nav>
<div class="container-fluid">
  <div class="row">
    <div class="col col-7 card-recipe-detail-left">
      <div th:if="${recipe.getImageLink() != null}">
        <img th:src="${recipe.getImageLink()}" class="recipe-img-detail" alt="...">
      </div>
      <div th:unless="${recipe.getImageLink() != null}">
        <img th:src="@{/img/placeholder.png}" class="recipe-img-detail" alt="...">
      </div>
    </div>
    <div class="col card-recipe-detail">
      <div class="card-recipe-content">
        <h1>Zutaten für <span th:text="${recipe.getServings()}"></span> Portionen:</h1>
        <div class="recipe-ingredients">

          <p> 4 g sugar</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col card-recipe-detail-left">
      <div class="card-recipe-content">
        <h1 th:text="${recipe.getName()}"></h1>

        <span class="badge bg-dark" style="background-color: #e00707 !important;">Vegan</span>
        <span class="badge bg-dark" style="background-color: #03a62c !important;">Sommer</span>
        <p th:text="${recipe.getInstruction()}" class="recipe-instructions"></p>
        <button th:onclick="'window.location.href = \'' + '/editRecipe/' + ${recipe.id} + '\''" type="button" class="btn btn-recipe float-right">Rezept bearbeiten</button><button class="btn btn-edit" onclick="window.location.href = '/edit';">Zutaten bearbeiten</button>
      </div>
    </div>
  </div>
</div>

</body>
<div th:replace="fragments/footer.html :: footer"></div>
</html>